.web-logo {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  img {
    width: 180px;
  }
}

.ant-drawer .ant-drawer-body {
  padding: 0px !important;
}

.ant-drawer-content-wrapper {
  width: 280px !important;
}

.ant-drawer .ant-drawer-content {
  background: #001529;
}

.ant-drawer-header.ant-drawer-header-close-only {
  display: none;
}
