.custom-sider {
  .ant-layout-sider.ant-layout-sider-dark {
    height: 100vh;
  }

  .web-logo {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    img {
      width: 180px;
    }
  }
}
